# Team WyldFyrez
## Relation to fire and weather data

blah blah blah stuff

In [1]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#requsting csv and reading
fire_csv = "Resources/fire.csv"

df_fire = pd.read_csv(fire_csv, low_memory=False, dtype={'STAT_CAUSE_DESCR': str,'State': str, 
                                                         'CONT_DATE':str, 'Discovery_Date': str, 
                                                         'FIRE_SIZE':float,'LATITUDE': float,'LONGITUDE':float})

df_fire.head(10)

,Unnamed: 0,OBJECTID,STAT_CAUSE_DESCR,STATE,CONT_DATE,DISCOVERY_DATE,FIRE_SIZE,LATITUDE,LONGITUDE
0,0,1001,Miscellaneous,CA,2005-03-17T00:00:00.000Z,2005-03-17T00:00:00.000Z,0.1,41.211389,-123.655833
1,1,1002,Lightning,OR,2005-07-31T00:00:00.000Z,2005-07-31T00:00:00.000Z,0.5,44.841667,-118.619722
2,2,1003,Campfire,OR,2005-07-31T00:00:00.000Z,2005-07-31T00:00:00.000Z,0.1,44.984444,-118.513611
3,3,1004,Miscellaneous,NM,2005-08-02T00:00:00.000Z,2005-07-31T00:00:00.000Z,1.5,35.751389,-105.651944
4,4,1005,Lightning,UT,2005-06-30T00:00:00.000Z,2005-06-15T00:00:00.000Z,1.5,39.938056,-111.395556
5,5,1006,Miscellaneous,LA,2005-07-02T00:00:00.000Z,2005-07-02T00:00:00.000Z,1.0,30.938889,-93.199722
6,6,1007,Lightning,LA,2005-07-28T00:00:00.000Z,2005-07-28T00:00:00.000Z,1.0,31.258889,-92.764444
7,7,1008,Arson,LA,2005-05-23T00:00:00.000Z,2005-05-23T00:00:00.000Z,1.0,31.631944,-92.511667
8,8,1009,Equipment Use,LA,2005-08-21T00:00:00.000Z,2005-08-21T00:00:00.000Z,15.0,31.066667,-92.958333
9,9,1010,Smoking,KS,2005-08-02T00:00:00.000Z,2005-08-02T00:00:00.000Z,0.5,37.088056,-101.636944

In [3]:
#Cleaning Data frame to remove columns
df_sub = df_fire[['OBJECTID','STAT_CAUSE_DESCR', 'STATE', 'CONT_DATE', 'DISCOVERY_DATE', 'FIRE_SIZE', 'LATITUDE', 'LONGITUDE']]
df_sub.head()

,OBJECTID,STAT_CAUSE_DESCR,STATE,CONT_DATE,DISCOVERY_DATE,FIRE_SIZE,LATITUDE,LONGITUDE
0,1001,Miscellaneous,CA,2005-03-17T00:00:00.000Z,2005-03-17T00:00:00.000Z,0.1,41.211389,-123.655833
1,1002,Lightning,OR,2005-07-31T00:00:00.000Z,2005-07-31T00:00:00.000Z,0.5,44.841667,-118.619722
2,1003,Campfire,OR,2005-07-31T00:00:00.000Z,2005-07-31T00:00:00.000Z,0.1,44.984444,-118.513611
3,1004,Miscellaneous,NM,2005-08-02T00:00:00.000Z,2005-07-31T00:00:00.000Z,1.5,35.751389,-105.651944
4,1005,Lightning,UT,2005-06-30T00:00:00.000Z,2005-06-15T00:00:00.000Z,1.5,39.938056,-111.395556

In [4]:
#Droping data that does not have full rows
df_dropna = df_sub.dropna(how="any")
df_dropna.count()

OBJECTID            988934
STAT_CAUSE_DESCR    988934
STATE               988934
CONT_DATE           988934
DISCOVERY_DATE      988934
FIRE_SIZE           988934
LATITUDE            988934
LONGITUDE           988934
dtype: int64

In [5]:
date_contained = df_dropna.CONT_DATE.tolist()
date_discovery = df_dropna.DISCOVERY_DATE.tolist()

In [7]:
date_disc = pd.Series(date_discovery)
#datedisc_df =pd.DataFrame(date_disc)
#d2 = pd.to_datetime(date_disc[0])

start = date_disc.str.split(pat = "T", expand=True)
start_df = pd.DataFrame(start)

start_clean = start_df.rename(columns={ 0: "Date Discovery",1: "Time"})
start_clean['Date Discovery'] = pd.to_datetime(start_clean['Date Discovery'])

start_clean.head()

  Date Discovery           Time
0     2005-03-17  00:00:00.000Z
1     2005-07-31  00:00:00.000Z
2     2005-07-31  00:00:00.000Z
3     2005-07-31  00:00:00.000Z
4     2005-06-15  00:00:00.000Z

In [8]:
date_cont = pd.Series(date_contained)
#dateend_df =pd.DataFrame(date_cont)
#d1 = pd.to_datetime(date_cont[0])


end = date_cont.str.split(pat = "T", expand=True)
end_df = pd.DataFrame(end)

end_clean = end_df.rename(columns={ 0 : "Date Contained", 1: "Time"})

end_clean['Date Contained'] = pd.to_datetime(end_clean['Date Contained'])
end_clean.head()

  Date Contained           Time
0     2005-03-17  00:00:00.000Z
1     2005-07-31  00:00:00.000Z
2     2005-07-31  00:00:00.000Z
3     2005-08-02  00:00:00.000Z
4     2005-06-30  00:00:00.000Z

In [9]:
#df_clean['duration'] = end_clean['Date Contained'] - start_clean['Date Discovery']
#df_clean

duration = pd.Series(delta.days for delta in (end_clean['Date Contained'] - start_clean['Date Discovery']))

In [10]:
df_dropna.count()

OBJECTID            988934
STAT_CAUSE_DESCR    988934
STATE               988934
CONT_DATE           988934
DISCOVERY_DATE      988934
FIRE_SIZE           988934
LATITUDE            988934
LONGITUDE           988934
dtype: int64

In [11]:
start_clean.count()

Date Discovery    988934
Time              988934
dtype: int64

In [12]:
end_clean.count()

Date Contained    988934
Time              988934
dtype: int64

In [13]:
duration.count()

988934

In [14]:
df_concat = pd.concat([df_dropna, start_clean, end_clean, duration],axis =1)
df_concat.count()

OBJECTID            988934
STAT_CAUSE_DESCR    988934
STATE               988934
CONT_DATE           988934
DISCOVERY_DATE      988934
FIRE_SIZE           988934
LATITUDE            988934
LONGITUDE           988934
Date Discovery      988934
Time                988934
Date Contained      988934
Time                988934
0                   988934
dtype: int64

In [15]:
df_concat = df_concat.rename(columns= {0:"Duration"})

In [16]:
df_clean = df_concat[['OBJECTID','STAT_CAUSE_DESCR', 'STATE', 'Date Discovery', 'Date Contained', 'FIRE_SIZE', 'LATITUDE', 'LONGITUDE','Duration']]
df_clean.head()

,OBJECTID,STAT_CAUSE_DESCR,STATE,Date Discovery,Date Contained,FIRE_SIZE,LATITUDE,LONGITUDE,Duration
0,1001.0,Miscellaneous,CA,2005-03-17,2005-03-17,0.1,41.211389,-123.655833,0.0
1,1002.0,Lightning,OR,2005-07-31,2005-07-31,0.5,44.841667,-118.619722,0.0
2,1003.0,Campfire,OR,2005-07-31,2005-07-31,0.1,44.984444,-118.513611,0.0
3,1004.0,Miscellaneous,NM,2005-07-31,2005-08-02,1.5,35.751389,-105.651944,2.0
4,1005.0,Lightning,UT,2005-06-15,2005-06-30,1.5,39.938056,-111.395556,15.0

In [17]:
df_clean.count()

OBJECTID            988934
STAT_CAUSE_DESCR    988934
STATE               988934
Date Discovery      988934
Date Contained      988934
FIRE_SIZE           988934
LATITUDE            988934
LONGITUDE           988934
Duration            988934
dtype: int64

In [20]:
df_dropcln = df_clean.dropna(how="any")
df_dropcln.count()

OBJECTID            462280
STAT_CAUSE_DESCR    462280
STATE               462280
Date Discovery      462280
Date Contained      462280
FIRE_SIZE           462280
LATITUDE            462280
LONGITUDE           462280
Duration            462280
dtype: int64

,OBJECTID,STAT_CAUSE_DESCR,STATE,Date Discovery,Date Contained,FIRE_SIZE,LATITUDE,LONGITUDE,Duration
0,1001.0,Miscellaneous,CA,2005-03-17,2005-03-17,0.10,41.211389,-123.655833,0.0
1,1002.0,Lightning,OR,2005-07-31,2005-07-31,0.50,44.841667,-118.619722,0.0
2,1003.0,Campfire,OR,2005-07-31,2005-07-31,0.10,44.984444,-118.513611,0.0
3,1004.0,Miscellaneous,NM,2005-07-31,2005-08-02,1.50,35.751389,-105.651944,2.0
4,1005.0,Lightning,UT,2005-06-15,2005-06-30,1.50,39.938056,-111.395556,15.0
5,1006.0,Miscellaneous,LA,2005-07-02,2005-07-02,1.00,30.938889,-93.199722,0.0
6,1007.0,Lightning,LA,2005-07-28,2005-07-28,1.00,31.258889,-92.764444,0.0
7,1008.0,Arson,LA,2005-05-23,2005-05-23,1.00,31.631944,-92.511667,0.0
8,1009.0,Equipment Use,LA,2005-08-21,2005-08-21,15.00,31.066667,-92.958333,0.0
9,1010.0,Smoking,KS,2005-08-02,2005-08-02,0.50,37.088056,-101.636944,0.0
10,1011.0,Lightning,MT,2005-06-02,2005-06-02,0.25,45.297500,-106.442500,0.0
11,1012.0,Lightning,MT,2005-06-23,2005-06-24,4.50,45.420556,-106.380833,1.0
12,1013.0,Lightning,MT,2005-06-25,2005-06-26,4.00,45.354722,-106.097778,1.0
13,1014.0,Lightning,CO,2005-08-17,2005-08-17,0.10,39.373056,-105.207778,0.0
14,1015.0,Lightning,MT,2005-07-01,2005-07-01,0.10,45.337778,-106.117778,0.0
15,1016.0,Lightning,MT,2005-07-03,2005-07-04,2.30,45.461111,-106.087500,1.0
16,1017.0,Lightning,MT,2005-08-07,2005-08-11,423.30,45.370833,-106.241667,4.0
17,1018.0,Campfire,MT,2005-07-04,2005-07-04,0.10,47.815556,-113.458611,0.0
18,1019.0,Lightning,MT,2005-08-11,2005-08-12,3.20,45.265000,-106.206944,1.0
19,1020.0,Lightning,MT,2005-08-11,2005-08-12,0.60,45.254167,-106.204722,1.0
20,1021.0,Miscellaneous,ID,2005-07-08,2005-07-09,0.10,44.292500,-114.717500,1.0
21,1022.0,Lightning,UT,2005-06-18,2005-06-19,0.25,39.368889,-111.197222,1.0
22,1023.0,Lightning,UT,2005-06-21,2005-06-22,0.10,39.887500,-111.521667,1.0
23,1024.0,Campfire,ID,2005-07-18,2005-07-18,0.10,44.390000,-114.738889,0.0
24,1025.0,Campfire,AZ,2005-02-17,2005-02-17,0.10,35.073611,-111.581667,0.0
25,1026.0,Campfire,KS,2005-08-09,2005-08-09,0.10,37.118333,-101.893889,0.0
26,1027.0,Miscellaneous,AZ,2005-05-15,2005-05-15,0.10,35.145833,-111.638611,0.0
27,1028.0,Lightning,ID,2005-07-31,2005-08-02,0.10,44.312222,-114.924722,2.0
28,1029.0,Miscellaneous,KS,2005-08-12,2005-08-12,0.50,37.068333,-101.999444,0.0
29,1030.0,Miscellaneous,AZ,2005-05-15,2005-05-15,0.10,35.084722,-111.598056,0.0
...,...,...,...,...,...,...,...,...,...
951970,951971.0,Lightning,OR,2015-02-21,2015-02-21,0.01,45.185560,-118.905830,0.0
951971,951972.0,Lightning,OR,2015-02-21,2015-02-21,0.05,45.539440,-117.655280,0.0
951972,951973.0,Lightning,OR,2015-02-21,2015-02-21,0.01,45.831390,-117.709720,0.0
951973,951974.0,Lightning,OR,2015-02-21,2015-02-21,80.00,44.514440,-117.890280,0.0
951974,951975.0,Lightning,OR,2015-02-21,2015-02-21,1.00,45.076390,-118.971670,0.0
951975,951976.0,Lightning,OR,2015-02-21,2015-02-21,0.10,45.666940,-117.081670,0.0
951976,951977.0,Lightning,OR,2015-02-21,2015-02-21,0.53,44.711110,-118.052500,0.0
951977,951978.0,Lightning,OR,2015-02-21,2015-02-21,9.00,45.033060,-119.000280,0.0
951978,951979.0,Lightning,OR,2015-02-21,2015-02-21,0.01,45.197220,-118.923610,0.0
951979,951980.0,Campfire,OR,2015-02-22,2015-02-22,4.66,45.011670,-118.874720,0.0
951980,951981.0,Campfire,OR,2015-02-22,2015-02-22,0.01,45.429170,-118.378890,0.0
951981,951982.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.939170,-117.464720,0.0
951982,951983.0,Lightning,OR,2015-02-22,2015-02-22,1.00,45.351670,-118.528060,0.0
951983,951984.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.079720,-119.054720,0.0
951984,951985.0,Lightning,OR,2015-02-22,2015-02-22,0.10,45.195830,-118.071390,0.0
951985,951986.0,Lightning,OR,2015-02-22,2015-02-22,299.00,45.288330,-119.145560,0.0
951986,951987.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.877220,-117.434440,0.0
951987,951988.0,Miscellaneous,OR,2015-02-22,2015-02-22,0.10,44.889170,-118.019720,0.0
951988,951989.0,Debris Burning,OR,2015-02-22,2015-02-22,5.50,45.413060,-118.078610,0.0
951989,951990.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.299170,-116.821110,0.0
951990,951991.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.095560,-118.945000,0.0
951991,951992.0,Lightning,OR,2015-02-22,2015-02-22,0.01,45.203610,-118.062780,0.0
951992,951993.0,Miscellaneous,OR,2015-02-22,2015-02-22,0.10,45.490280,-118.441670,0.0
951993,951994.0,Lightning,OR,2015-02-22,2015-02-23,0.10,45.324440,-117.226670,1.0
951994,951995.0,Debris Burning,OR,2015-02-21,2015-02-23,4.50,45.953330,-117.471390,2.0
951995,951996.0,Lightning,OR,2015-02-23,2015-02-23,0.01,45.118890,-116.791110,0.0
951996,951997.0,Lightning,OR,2015-02-23,2015-02-23,0.10,45.769440,-117.506110,0.0
951997,951998.0,Lightning,OR,2015-02-23,2015-02-23,0.10,45.544720,-117.711670,0.0
951998,951999.0,Equipment Use,OR,2015-02-23,2015-02-23,0.01,45.767220,-117.670830,0.0
951999,952000.0,Lightning,OR,2015-02-23,2015-02-23,0.01,45.831940,-117.703060,0.0

In [23]:
df_dropcln.to_csv("fire_checker.csv")